@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Protest+Guerrilla&display=swap');

/* ROOT */
*{box-sizing: border-box;}
html{padding: 0.5rem;}
body{
  /* width: 100%;
  max-width: 97ch;
  margin: 0 auto;
   */
  }
  
  /* MAIN: lm */
  .container{
    box-shadow: 0 0 5px #777;
    padding: 0.7rem;
}

/* ASIDE */
