@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Protest+Guerrilla&display=swap');
/* ROOT */
*{box-sizing: border-box;}
html{padding: 0.5rem;}
body{
  width: 100%;
  max-width: 95ch;
  margin: 0 auto;
  box-shadow: 0 0 5px #777;
}

/* NAVIGATION STYLE*/
.nav:first-child{
  border-bottom: 1px dotted #999;
  .nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    h2>a{
      color: #bbb;
      text-transform: capitalize;
      font-size: 0.8rem;
      text-decoration: none;
    }
  }
  .nav-links>a{
    transition: all 0.3s ease;
  }
  .nav-links>a:nth-child(2){
    margin-left: auto;
  }
  .nav-links>a:hover{
    background: #777;
    color: #fff;
  }
  .nav-links i{
    font-size: 2rem;
  }
}

/* MAIN */
/* Lettre de motivation */
.main{
  padding: 0.7rem;
}
section{
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.lm{
  .header{
    text-align: right;
    -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    h2{font-family: "Protest Guerrilla", sans-serif;}
  }
  ul{
		list-style-type: none;
	}
  .body>ul{
    text-align: justify;
    padding: 0;
  }
  .body>p{
    margin-bottom: 0;
    padding: 0;
  }
  p:nth-child(2){
    margin-bottom: 1.3rem;
    font-style: italic;
    color: #777;
  }
  .footer{
    li{text-align: end;}
  }
} 
/* Curriculum vitae */
.cv{
  .content{
    margin-bottom: 0.8rem;
  }
  .content:last-child{
    margin-bottom: 0.8rem;
    /* background-color: aqua; */
    margin-bottom: 0;
  }
  .body:nth-child(2)>ul{
    padding-left: 0;
  }
  ul{
    list-style: none;
    margin-bottom: 0;
  }
  .header{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.35rem;
    color: #333;
  }
  .body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .ic{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #777;
  }
  .is{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #777;
  }
  .id{
    margin-bottom: 0.5rem;
    color: #777;
    font-size: 0.8rem;
    font-style: italic;
    text-transform: uppercase;
    border-bottom: 1px dotted #ccc;
  } 
}

/* ASIDE */
aside{
  overflow-y: scroll;
  border: 1px solid #999;
  border-radius: 0.5rem;
  padding: 0.7rem;
  img{
    border: 7px solid #fff;
  }
  section{
    .sec-header{
      text-align: center;
      text-transform: capitalize;
      background: #e1e1e1;
      padding: 1.5rem 0;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
     .last-name{
        color: #fff;
        text-shadow: 0 0 4px #444;
      } 
    }
    .sec-body{
      h2{
        text-transform: capitalize;
        font-size: 1.3rem;
        font-weight: bold;
      }
      ul{
        list-style: none;
        padding-left: 0;
        text-transform: capitalize;
      }
      .titre{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8rem;
        background-color: #eee;
        padding: 0.2rem;
      }
      .contact,
      .education{
        margin-top: 1.5rem;
      }
      .contact li a{
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 0.5rem 0;
        color: #777;
        text-decoration: none;
      }
      .contact li a:hover{
        color: #333;
      }
      .contact li:last-child a{
        border-bottom: 0;
      }
    }
  } 
}

/* FOOTER */

/* MEDIA QUERY */
@media (min-width: 768px){
  .lm{
    padding: 2rem;
    padding-top: 1.5rem;
    transition: all 0.3s ease;
  } 
}
@media (min-width: 992px){
  .lm{
    transition: all 0.3s ease;
    padding-right: 0.5rem;
  }
} 
 @-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
} 
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
